<!DOCTYPE html>
<html ng-app='SpreeAngularStore'>
<head>
  <title>SpreeAngularStore</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
</head>
<body>
<%#Just as recommendation, I would say that you assign the app to the body, instead the html, can't remember the exact reason%>
<%#but over there (in the internets) I found some explanation on this%>
<%= yield %>

</body>
</html>
